* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.circle {
  display: inline-block;
  height: 4rem;
  aspect-ratio: 1;
  background: white;
  border-radius: 50%;
  filter: blur(15px);
}

.circle:nth-child(1) {
  animation: move-left 3s ease-in-out infinite;
  transform: translateX(100%);
}

.circle:nth-child(2) {
  animation: move-right 3s ease-in-out infinite;
  transform: translateX(-100%);
}

@keyframes move-left {
  50% {
    transform: translateX(-200px);
  }
  100% {
    rotate: 1turn;
  }
}

@keyframes move-right {
  50% {
    transform: translateX(200px);
  }
  100% {
    rotate: 1turn;
  }
}

.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  position: relative;
  background: black;
  filter: contrast(30);
}
